*{
    box-sizing: border-box;
}
/* Split the screen in half */
.split {
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;    
    border: 0;
    margin: 0;
  }
  
  /* Control the left side */
  .left {
    width: 55%;
    left: 0;
    margin: 0;
    background-image: url('images/Kalypso.PNG');
    background-size: cover;
    /*background-size: cover;
    background-repeat: no-repeat;*/
    border: 50px solid rgba(0, 0, 0, 0.5);
    border-style: outset;
    border-right: none;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    width: 45%;
    height: 100%;
    border: 50px solid rgba(0, 0, 0, 0.5);
    border-style: outset;
    border-left: none;
    border-right: none;
  }
  img{
    width: 140px;
    height: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .form{
    /*border: 2px solid black;*/
    width: 350px;
    height: auto;
    text-align: left;
    font-size: small;
  }
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .name {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #fName {
    padding: 5px 5px;
    width: 99%;
    margin-right: 5px;
  }
  #lName {
    margin-left: 5px;
    padding: 5px 10px;
    width: 99%;
  }
  .email{
    margin-top: 10px;
  }
  #email {
    padding: 5px 10px;
    width: 100%;
  }
  .password{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #pswd {
    padding: 5px 10px;
    width: 100%;
  }
  input{
    font-size: small;
  }
  input::placeholder{
    font-size:smaller;
  }
  /*Toggle btn start*/
  .switch {
    position: relative;
    display: inline-block;
    font-size: small;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    width: 25px;
    height: 17px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
    width: 28px;
    height: 16px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: -1px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    border: 2px solid white;
  }
  .check{
    vertical-align: top;
  }
  input:checked + .slider{
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 0.5px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
    border: 2px solid #2196F3;
  }
  /*Toggle btn end*/
  button{
    font-size: small;
    margin-top: 20px;
    background-color: #2e4ac7;
    padding: 9px 15px;
    border: none;
    border-radius: 6px;
    transition-duration: 0.4s;
  }
  button:hover{
    background-color: #061e8a;
  }
  .centered p{
    font-size: small;
  }
  /*Footer*/
  footer ul{
    margin: 0;
    padding: 0;
    font-size: small;
  }
  footer{
    position: absolute;
    padding: 10px 10px 0 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #5c5858;
    text-align: center;
  }
  footer li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }
  footer a{
    text-decoration: none;
    color: #5c5858;
  }
  footer p{
    color: #adafb3;
    font-size: small;
  }